<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
  </head>
  <body>
    <h1>this is a view from the templates folder.</h1>

    {% if questions %}
    <ul>
      {% for question in questions %}
      <li><a href="{%url 'polls:detail' question.id%}">{{question.question_text}}</a></li>
      {% endfor %}

    </ul>
    {% else %}
    <p>no polls available</p>
    {% endif %}
  </body>
</html>
