<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail page</title>
</head>

<body>

  <h1>{{ question.question_text }}</h1>
  <ul>
    {% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes | pluralize }}</li>
    {% endfor %}
  </ul>
  
  <a href="{% url 'polls:detail' question.id %}">Vote again?</a>



</body>
</html>
